<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Movie Card UI</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>

{% load static %}
<link rel="stylesheet" href="{% static "movieDetails\style.css" %}">
<!-- <link rel="stylesheet" href="./style.css"> -->

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
	<div class="main_card">
		<div class="card_left">
			<div class="card_details">
				<h1>{{ movie.name }}</h1>
				<div class="card_cat">
					<p class="PG">PG - 13</p>
					<p class="year">2018</p>
					<p class="genre">Action | Adventure </p>
					<p class="time">2h 28m</p>
				</div>
				<p class="disc">Ethan Hunt and his IMF team, along with some familiar allies, race against time after a mission gone wrong.</p>
				<a href="https://www.imdb.com/title/tt4912910/" target="_blank">Read More</a>
			<div class="social-btn">
        <!-- WATCH TRAILER-->
				<button>
					<i class="fas fa-play"></i> SEE TRAILER
				</button>
				<!-- GET-->
				<button>
					<a href="{% url 'seat' %}">
					<i class="fas fa-download"></i> BOOK NOW</a>
				</button>
				<!--USERS RATINGS-->
				<!-- <button>
					<i class="fas fa-thumbs-up"></i> 97%
				</button> -->
				<!--BOOKMARK-->
				<!-- <button>
					<i class="fas fa-star"></i>
				</button> -->
			</div>	
			</div>
		</div>
		
		<!-- https://upload.wikimedia.org/wikipedia/en/f/ff/MI_%E2%80%93_Fallout.jpg -->

		<div class="card_right">
			<div class="img_container">
				<img src="{{ movie.image.url }}" width='220' height="324" alt="">
				</div>
				<div class="play_btn">
					<a href="https://www.imdb.com/title/tt4912910/" target="_blank">
						<i class="fas fa-play-circle"></i>
					</a>
				</div>
			</div>
		</div>
	</div>



<!-- FOLLOW -->
<a class="Follow" href="https://codepen.io/ZaynAlaoudi/" target="blank_"></a>
<!-- partial -->
  
</body>
</html>
